body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    
}
.judul,#judul{
    color: white;
    text-align: center;
}
body {
    background-image: url('spacex_lead_db_101223.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

#isi,.isi{
    color: white;
    text-align: justify;
}
